.container
  = form_for @treatment_module, 

  <%= form_for @treatment_module, url: { action: "create" }, html: { class: "module" } do |f| %>
    Name: <%= f.text_field :name %> </br>
    Description: <%= f.text_area :description, size: "60x12" %></br>

    <% for @category in @categories %>
      <li><%= f.check_box :category %></li>
    <% end -%>

    <%= f.submit "Create" %>
  <% end %>

</div>
