<div class="container">
  <h3>Welcome to your hub, Mr. X</h3>
</div>

<div class="blocks container">
  <div class="block">
    <i class="fa fa-medkit"></i>
    <h4>Treatment Information</h4>
  </div>
  <div class="block">
    <i class="fa fa-cutlery"></i>
    <h4>Nutrition Information</h4>
  </div>
  <div class="block">
    <i class="fa fa-stethoscope"></i>
    <h4>Symptom Information</h4>
  </div>
  <div class="block">
    <i class="fa fa-question"></i>
    <h4>Help</h4>
  </div>
</div>

<div class="modules container">
  <h2>Modules Currently Available</h2>
  <% @current_state.each do |s| %>
    <div class="module">
      <h3><%= s.name %></h3>
      <p> <%= s.description %> </p>
    </div>
  <% end -%>
</div>
