/= form_tag /category, method: 'POST', class: 'form-inline' do
/  .form-group
/    p.form-control-static Create a new information module under category:
/  .form-group
/    = category_input
/  = submit_tag 'Create...', class: 'btn btn-default'

