a:hover, a:focus {
  text-decoration: none !important;
}

.present_treatment_state{
   margin: 0 0 5% 0;
}

.category_title {
    font-size:30px;
    text-align: center;
    background-color: #7b87b8;
    padding: 10px;
    color: white;
}

.timeline {
    white-space:nowrap;
    padding:10px 0 10px 0;
    text-align: center;
    background-color: #7b87b8;
    margin:0 auto;
    position:relative;
}

.entries {

  .entry {
    display:inline-block;
    vertical-align:top;
    padding: 14px;
    padding: 20px;
    min-width: 200px;
    max-width: 200px;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    background-color: white;
    // border-bottom: 6px solid #3c425c;
    border-radius: 2px;
    transition: 0.2s box-shadow;
    box-shadow: 2px 2px 3px #3c452c;
    
    font-size: 15pt;
    margin-top: 10px;

    }

  .entry:hover {
    box-shadow: 8px 8px 5px #3c452c;
    pointer: point;
  }
}




.entry h1 {
    color:#000;
    font-size:18px;
    margin-bottom:10px;
}

.centered_entries {
    text-align: center;
}

.subtext {
    font-size:10px;
    text-align: center;
}

.bar {
    height:4px;
    margin-bottom:2px;
    background:#474747;
    width:100%;
    position:relative;
    top:13px;
    left:0;
}
