// Place all the styles related to the data_modules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.data_module_container {
  .editor-container{
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    min-width: 320px;
    width: 100%;
  }

  form {
    select {
      max-width: 300px;
    }

    .btn {
      margin-top: 20px;
      float: right;
    }
  }

}

h2.title {
  color:white;
  background-color: #337ab7;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  text-align: center; 
}

h3.title{
  font-weight: bold;
  text-align: center; 
}

h4.title{
  font-weight: bold;
  //background-color: #85AFD4;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: 0px;
  padding: 10px;
}

.data{
  //padding-top: 0px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  //background-color: #85AFD4;

}