// Place all the styles related to the doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  .recent_patients{
    width: 25%;
    height: 300px;
    overflow-y: scroll;

    ul {
      list-style: none;
    }
  }
}
