// Place all the styles related to the doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doctor-hub{
  .manage-button {
    margin-top: 12px;
    float: right;
  }

}
.content {
  height: 500px;
  position: relative;
  margin: 20px auto !important;

  .recent_patients{
    height: 100%;
    float: left;
    width: 25%;
    overflow-y: scroll;
    padding-top: 20px;
    border-right: 1px dotted #000000;

    ul {
      list-style: none;

      li {
        margin-bottom: 5px;
      }
    }
  }

  .patient_status {
    padding-left: 40px;
    padding-right: 40px;
    width: 75%;
    height: 100%;
    float: right;
    overflow-y: scroll;
  }
}
