// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign_in {
  margin-top: 10px;
  h2 {
    color: #333;
  }
  form {
    width: 200px;

    input {
      display: block;
      margin: 5px;
    }

    .remember input{
      display: inline;
    }
  }
}

.back_text a{
    padding-top: 40px;
    text-align: center;
    color: white; 
    font-size: 15px; 
}

.bigtitle{
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.eula{
  font-size: 10px;
  margin: 8px;
}
