// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero {
  width: 100%;
  background-color: #337ab7;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;

  .info_block {
    color: white;
    font-size: 10pt;
    text-align: center;

    .fa {
      font-size: 60pt;
      margin: 10px;
    }
  }
  
  p {
      font-size: 15pt;
      color: white;
      .fa{
          margin:0 10px 0px 0;
          font-size: 20pt;
      }
    }

  h3 {
    color: white;
    text-align: center;
  }
}

.sign_in {
  margin-top: 10px;
  h2 {
    color: #333;
  }
  form {
    width: 200px;

    input {
      display: block;
      margin: 5px;
    }

    .remember input{
      display: inline;
    }
  }
}

.back_text a{
    margin-top: 350px;
    text-align: center;
    color: white; 
    font-size: 15px; 
}

.bigtitle{
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.eula{
  font-size: 10px;
  margin: 8px;
}
