// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero {
  width: 100%;
  background-color: #96a4df;
  padding-bottom: 50px;

  .info_block {
    color: white;
    font-size: 12pt;
    text-align: center;

    .fa {
      font-size: 60pt;
      margin: 10px;
    }
  }

  h3 {
    color: white;
    text-align: center;
  }
}

.sign_in {
  margin-top: 40px;
  h2 {
    color: #666;
  }
  form {
    width: 200px;

    input {
      display: block;
      margin: 5px;
    }

    .remember input{
      display: inline;
    }
  }
}
