// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  text-align: center;
  font-size: 15pt;
  color: white;
  background-color: #337ab7;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;

  h4 {
    font-weight: lighter;
  }
}

.categories {
  width: 100%;
  background-color: white;

  .category {
    padding: 20px;
    text-align: center;
    color: #666;
    margin-top: 50px;
    margin-bottom: 5px;
    border: 1px solid #ccc;

    background-color: white;
    border-radius: 2px;

    .title {
      font-size: 15pt;
      margin-top: 10px;
    }

    .fa {
      font-size: 30pt;
    }
  }

  .category:hover {
    background-color: #337ab7;
    color: white;
  }
}

.patient-form {
  // width: 90%;
  // max-width: 500px;
  // margin: 0 auto;
  // padding: 40px;
  // padding-top: 20px;
  // border-left: 1px solid #ccc;
  // border-right: 1px solid #ccc;
  // box-shadow: 0px 0px 10px #ccc;
  margin-bottom: 40px;
}
