// Place all the styles related to the subcategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.data-module{
  margin: 10px !important;
  padding: 20px;

  button {
    margin-left: 5px;
    float: right;
  }

  .data {
    margin-top: 20px;
  }
}
