.modal .modal-body{
  text-align: initial;
  color: black;
}

.hero .info_block table{
}

.hero .info_block .add_or_create{
  margin: 10px 0 0 0;
}

.hero .info_block .caption .showModal{
    margin: 20px 0 0 0;
}

.team {
  .team-name {
    font-size: 18pt;
  }
  .btn {
    margin-left: 5px;
  }
  padding: 20px;
  background-color: white
}

.team-members {
  margin-top: 20px !important;
  i {
    font-size:20pt;
  }
  .member {
    margin-bottom: 10px;
  }
}


