.modal .modal-body{
  text-align: initial;
  color: black;
}

.hero .info_block table{
  margin: 0 auto;
  td{
      text-align: initial;
      font-size:17pt;
      a{
        color:white;
      }
      a:hover{
        color:#FFD700;
      }
      .fa{
        font-size:20pt;
      }
      .btn{
        float:right;
      }
      &:nth-child(3){
        width:90px;
      }
  }
}

.hero .info_block .add_or_create{
  margin: 10px 0 0 0;
}

.hero .info_block .caption .showModal{
    margin: 20px 0 0 0;
}