.modal .modal-body{
  text-align: initial;
  color: black;
}

.hero .team_form {
  margin: 0 10px 0px 0;
  font-size: 17pt;
  text-align: initial;
  & .fa{
    margin: 0 10px 0px 0;
    font-size: 20pt;
  }
  & .team_member_form{
    display: inline;
    & .btn{
      margin: 0 0 0 8pt;
      font-size: 8pt;
    }
  }
}

.hero .info_block table{
  margin: 0 auto;
  td{
      text-align: initial;
      font-size:17pt;
      a{
        color:white;
      }
      a:hover{
        color:#FFD700;
      }
      .fa{
        font-size:20pt;
      }
      .btn{
        float:right;
      }
      &:nth-child(3){
        width:90px;
      }
  }
}

.hero .info_block .caption .showModal{
    margin: 20px 0 0 0;
}