// Place all the styles related to the treatment_states controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_box {

  #categories, #subcategories, #modules {
    height: 500px;
    overflow: scroll;
  }


  .count {
    color: #27ae60;
  }

  .active .count {
    color: white;
  }

}

#accordion {
  margin: 20px;
}

.states-timeline {
  width: 100%;
  overflow-x: scroll;
  height: 100px;
  background: white;
  padding-top: 40px;
  margin: 0px !important;
  text-align: center;

  a {
    display: inline;
    margin-left: 10px;
  }
}
