<!DOCTYPE html>
<html>
<head>
  <title>Gstt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <img class="nhs_logo" src="" alt="">
    <img class="gstt_logo" src="" alt="">
  </div>

<%= yield %>

</body>
</html>
